body {
    background-color: rgb(234, 238, 242);
}

.green {
    border: 1px solid green;
}

.red {
    border: 1px solid red;
}

.jot {
    margin: 20px;
    padding: 20px;
    min-height: 100px;
    background-color: white;
    border: 1px solid rgba(111, 113, 114, .04);
    border-radius: 5px;
    transition: background-color .01s ease-in-out 0s;
    -moz-transition: background-color 100ms ease-in-out 0s;
}

.jot:hover {
    background-color: rgba(185, 188, 191, .44);
    cursor: pointer;
}